@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700;900&display=swap');


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    align-content: stretch;
    justify-content: center;
    justify-items: center;
    background-color: #fefefe;
    font-family: 'Roboto Slab', serif;
    grid-template-columns: 1fr;
    font-size: 16px;
}



.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(2,auto);
    box-sizing: border-box;
    max-width: 1100px;
}

.header {
    display: grid;
    grid-template-rows: repeat(2,auto);
    box-sizing: border-box;
    width: 100%;
}

.form {
    padding: 25px 50px;
    box-shadow: 0 3px 1px rgba(0,0,0,0.2);
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.logo {
    background-color: rgb(20, 51, 85);
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
}



h1 {
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
}

.form form {
    flex: 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
}

.form form label {
    display: flex;
    align-content: center;
    align-items: center;
}

form input {
    margin: 7px 0;
}

.form form label span ,
input[type="submit"] {
    margin-left: 20px;
    margin-right: 10px;
}


input {
    appearance: none;
    border: 0;
    background-color: rgba(0,0,0,0.01);
    height: 25px;
    border-radius: 25px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    font-family: 'Roboto Slab', serif;
    font-size: 0.8rem;
}

input:not([type="checkbox"]) {
    padding: 5px 10px;
    box-sizing: border-box;
    height: 35px;
    font-weight: 300;
}

input[type="number"] {
    width: 75px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    font-weight: 500;
    transition: background-color 0.3s,
                box-shadow 0.3s;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    
}

input[type="submit"]:hover {
    background-color: lightgreen;
    color: #000;
}

input[type="checkbox"] {
    appearance: none;
    background-color: white;
    width: 40px;
    height: 25px;
    border-radius: 25px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    background-color: lightcoral;
    transition: background-color 0.4s;
}

input[type="checkbox"]::before {
    content: '';
    display: block;
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background-color: #fff;
    margin: 3px;
    transition: 1s;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}


input[type="checkbox"]:checked {
    justify-content: flex-end;
    background-color: lightgreen;
}

.book-cover {
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(155,155,155,0.1);
    text-align: center;
    display: flex;
    align-items: center;
}

.book-cover::before {
    content: 'no cover';
    display: inline-block;
    font-size: 5rem;
    text-transform: uppercase;
    opacity: 0.1;

}

.book-cover img {
    width: 100%;
}

.main {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 25px 0 50px;
}

.book-card {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    flex: 0 1 300px;
    margin: 25px 25px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.book-info {
    padding: 30px;
}

.book-info li {
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.5rem;
}

.book-controls {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
}

.book-controls button {
    width: 100%;
    appearance: none;
    border: 0;
    box-shadow: 0;
    margin: 0;
    height: 2rem;
    transition: 1s;
    cursor: pointer;
}

.delete button {
    background-color: lightsalmon;

}

button:hover {
    background-color: #f90;
}

.pages {
    font-weight: 300;
    font-size: 0.8em;
}


.footer {
    box-sizing: border-box;
    width: 100%;
}


button.read-class {
    background-color: lightgreen;
}

input:valid {
    border-color: lightgreen;
}

input:invalid {
    border-color: lightcoral;
}

.wrong {
    background-color: crimson;
    color: beige;
    display: block;
    position: absolute;
    display: block;
    /* padding: 5px; */
    text-align: center;
    box-sizing: border-box;
    font-size: 0.5rem;
    line-height: 1rem;
}